$enemy-color: rgb(116,60,60);
$my-color: rgb(49,132,153);
$left-col-width: 35.9vh;
$my-space-dimension: 3.5vh;
$enemy-space-dimension: 5.38vh;

body {
  box-sizing: border-box;
}

img {
  border: 1px solid white;
}

.container {
  width: 850px;
  margin: 0 auto;

  #status {
    width: 600px;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
    border: 1px solid red;
    margin: 10px auto 20px auto;
  }

  .my-board,
  .enemy-board {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .my-board {
    height: 35.7vh;
    width: $left-col-width;
    border: 2px solid $my-color;
    min-height: 260px;
    min-width: 260px;
    position: relative;

    .my-space {
      height: $my-space-dimension;
      width: $my-space-dimension;
      border-right: 0.5px solid $my-color;
      border-bottom: 0.5px solid $my-color;
      min-height: 25.5px;
      min-width: 25.5px;
      position: relative;
    }

    .carrier,
    .battleship,
    .destroyer,
    .submarine,
    .patrolboat {
      // position: absolute !important;
      min-height: 25.5px;
      height: $my-space-dimension;
      z-index: 100 !important;
      overflow: visible;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      &:active {
        background: grey;
      }
    }

    .carrier {
      background-image: url('./assets/carrier.png');
      width: ($my-space-dimension * 5);
      min-width: (25.5px *5);
    }

    .battleship {
      background-image: url('./assets/battleship.png');
      width: ($my-space-dimension * 4);
      min-width: (25.5px *4);
    }

    .destroyer,
    .submarine {
      width: ($my-space-dimension * 3);
      min-width: (25.5px *3);
    }

    .destroyer {
      background-image: url('./assets/destroyer.png');
    }

    .submarine {
      background-image: url('./assets/submarine.png');
    }

    .patrolboat {
      background-image: url('./assets/patrolboat.png');
      width: ($my-space-dimension * 2);
      min-width: (25.5px *2);
    }

    .vert {
      z-index: 100 !important;
      overflow: visible;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transform: translate(10%, 35%) rotate(-90deg);
      transform-origin: left;
    }
  }

  .enemy-board-wrapper {
    display: flex;
    width: 100%;

    .shrinker {
      width: $left-col-width;
      flex-shrink: 2;
      min-width: 260px;
    }

    .enemy-board {
      height: 54.48vh;
      width: 55vh;
      border: 2px solid $enemy-color;
      min-height: 400px;
      min-width: 400px;

      .setup-instruction-container {
        background: white;
        height: 54.48vh;
        width: 55vh;
        position: absolute;
        z-index: 100;
        min-height: 400px;
        min-width: 400px;
      }

      .setup-instruction {
        width: 80%;
        margin: 50px auto;
        text-align: center;
        font-family: sans-serif;
      }

      .enemy-space {
        height: $enemy-space-dimension;
        width: $enemy-space-dimension;
        border-right: 0.5px solid $enemy-color;
        border-bottom: 0.5px solid $enemy-color;
        min-height: 39.5px;
        min-width: 39.5px;
        position: relative;
        &:hover {
          background: rgba($enemy-color, 0.2);
        }
      }
    }
  }
}

.my {
  height: $my-space-dimension;
  width: $my-space-dimension;
  min-height: 25.5px;
  min-width: 25.5px;
}

.enemy {
  height: $enemy-space-dimension;
  width: $enemy-space-dimension;
  min-height: 39.5px;
  min-width: 39.5px;
}

.fire,
.water {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.fire {
  background-image: url('./assets/fire.png');
}

.water {
  background-image: url('./assets/water.png');
}

@media all and (max-width: 1024px) {
  .container {
    width: 80vw;
  }

  .shrinker {
    flex-shrink: 4;
    min-width: 0 !important;
  }

  .enemy-board {
    flex-shrink: 0;
  }
}
